.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: clamp(135px, get-d(180px), 220px) clamp(16px, get-d(80px), 85px)
        clamp(40px, get-d(100px), 100px) clamp(16px, get-d(80px), 85px);
    // background-color: $c-color;
    position: relative;

    @media (min-width: 1920px) {
        max-width: 1920px !important;
        width: 100% !important;
        margin: 0 auto !important;
        left: 50%;
        translate: -50% 0;
    }

    .topContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;
        opacity: 0;

        .title {
            max-width: get-d(1046px);
            width: 100%;
            color: $c-white;
            text-align: center;
            font-family: var(--font-geist-sans);
            font-size: clamp(36px, get-d(80px), 80px);
            font-weight: 300;
            line-height: 90%;
            letter-spacing: get-d(-6.4px);
            margin-top: 32px;

            @media (max-width: $s-tablet) {
                margin-top: 24px;
            }

            .bold {
                font-weight: 500;
            }
        }

        .description {
            color: $c-white;
            text-align: center;
            font-family: var(--font-geist-sans);
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: get-d(-0.64px);
            margin-top: 30px;

            @media (max-width: $s-tablet) {
                margin-top: 24px;
            }
        }
    }

    .bottomContainer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 1;

        @media (max-width: $s-tablet-l) {
            justify-content: center;
        }

        .noteContainer {
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 438px;
            width: 100%;

            .note {
                color: $c-white;
                font-family: var(--font-geist-sans);
                font-size: 20px;
                font-weight: 300;
                line-height: 140%;
                letter-spacing: get-d(-0.32px);
                opacity: 0;

                @media (max-width: $s-tablet-l) {
                    text-align: center;
                }

                @media (max-width: $s-tablet) {
                    font-size: 16px;
                }
            }
        }

        .delimiter {
            transform: scaleX(0);
            overflow: hidden;
        }
    }
}
