.tag {
  padding: 9px 14px 8px;
  border-radius: 100px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  background: rgba(1, 48, 83, 0.05);
  backdrop-filter: blur(10.063934326171875px);

  color: $c-white;
  font-family: var(--font-geist-sans);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: get-d(-0.62px);

  @media (max-width: $s-tablet-l) {
    font-size: 16px;
  }

  @media (max-width: $s-tablet) {
    font-size: 12px;
  }
}
